@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);
* {
    border: none;
    margin: 0px;
    font: 700 1em "News Cycle", sans-serif;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-position: center;
    height: 100%;
    animation-fill-mode: forwards;
    animation-delay: 4s;
    animation-name: background-change;
    background-color: black;
}

.wrapper .story {
    color: #2196F3;
    font-size: 40px;
    animation-fill-mode: forwards;
    animation-name: story;
    animation-delay: 4s;
}

.wrapper .story .dots {
    letter-spacing: 10px;
}

.wrapper .logo {
    color: white;
    opacity: 0;
    text-align: center;
    position: absolute;
    animation-name: logo;
    animation-delay: 4s;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}

.wrapper .text {
    color: #FFEB3B;
    opacity: 0;
    font-size: 40px;
    width: 500px;
    position: absolute;
    text-align: justify;
    animation-fill-mode: forwards;
    line-height: 50px;
    animation-delay: 8s;
    animation-name: text;
    overflow: hidden;
    animation-duration: 70s;
}

.wrapper .text p {
    margin-bottom: 100px;
}

/* Animations */

@keyframes story {
    100% {
        opacity: 0;
    }
}

@keyframes background-change {
    100% {
        background-image: url(background-stars.jpg)
    }
}

@keyframes logo {
    0% {
        opacity: 1;
        transform: scale(1)
    }
    100% {
        transform: scale(0);
        opacity: 1;
        display: none;
    }
}

@keyframes text {
    0% {
        opacity: 1;
        transform: perspective(50em) rotateX(75deg) translateY(180vh);
    }
    100% {
        transform: perspective(50em) rotateX(75deg) translateY(-90vh);
        opacity: 1;
    }
}